.logindiv {
    position: fixed;
    height: 180px;
    background-color: #ffffff2d;
    box-shadow: 0 0 10px rgba(104, 51, 51, 0.388);
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    left: 10%;
    top: 30%;
}

.logindiv input{
  position: relative;
  width: 300px;
  padding: 8px;
  outline: none;
  /* border: 2px solid silver; */
  border-radius: 4px;
  /* box-shadow: 0 0 10px rgb(255, 72, 0); */
  border: 1px solid rgba(0, 0, 0, 0.37);
  margin-bottom: 10px;
  font-size: 16px;
}
.logindiv button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}